# /node_modules/* and /bower_components/* ignored by default

app/App_Resources/*
hooks/*
platforms/*
dist/*
scripts/*
app/**/**/**/*-ts-*.js
app/app.js 
app/ns-framework-modules-category/observable/mvvm-pattern/main-view-model-ts