/* >> bottom-nav-theming-css */
BottomNavigation.bottom-nav {
    background-color: orangered;
    color: gold;
}

TabStripItem.tabstripitem-active {
    background-color: teal;
}
/* The :active CSS pseudo selector support for TabStripItem */
TabStripItem.tabstripitem-active:active {
    background-color: yellowgreen;
} 

TabContentItem.first-tabcontent {
    color: olive;
}
TabContentItem.second-tabcontent {
    color: aquamarine;
}
TabContentItem.third-tabcontent {
    color: antiquewhite;
}
/* << bottom-nav-theming-js */