BottomNavigation.bottom-nav {
    background-color: orangered;
    color: gold;
}

TabStrip {
    font: 15 arial, sans-serif;
}

TabStripItem.tabstripitem-active {
    background-color: teal;
}

TabStripItem.tabstripitem-active:active {
    background-color: yellowgreen;
    font: 24 'Times New Roman', Times, serif;
} 

TabContentItem.first-tabcontent {
    color: olive;
    font: italic bold 12 Georgia, serif;
}
TabContentItem.second-tabcontent {
    color: aquamarine;
}
TabContentItem.third-tabcontent {
    color: antiquewhite;
}