
/* >> css-styling */

/* Using component Class name (e.g. stlye will be applied on all Buttons) */
Button { 
    background-color: red; 
} 

/* Using CSS class */
.testClass { 
    color: blue; 
} 

/* Using ID */
#myButton { 
    color: yellow; 
} 

/* Using pseudo-selector :pressed */
.testClass:pressed { 
    color: green; 
}
/* << css-styling */