Label {
    border-color: lightslategray;
    border-width:1;
    border-radius: 20;
    font-size: 26;
    horizontal-align: center;
    vertical-align: middle;
    text-align: center;
    padding: 15;
    margin: 10;
}