GridLayout {
    background-color: orangered;
    border-radius: 20;
    color: white;
    margin: 8;
    padding: 8;
}

Label {
    border-radius: 20;
    horizontal-align: center;
    padding: 15;
    vertical-align: middle;
}

Label.snippet {
    background-color: whitesmoke;
    color: orangered;
    height: 100%;
    width: 100%;
}
