.action-image {
    width: 40;
    height: 40;
    vertical-align: center;
}

.action-label {
    color: #3C5AFD;
    font-size: 24;
    font-weight: bold;
    vertical-align: center;
}

.labelClass {
    background-color: orangered;
    color: white;
    margin:8;
    padding: 16;
}